@import "../node_modules/nprogress/nprogress.css";
@import "./resizer.css";

@tailwind base;

@tailwind components;

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

@tailwind utilities;
