<section>
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
    <%= gettext "Changelog" %>
  </h1>
  <p class="mt-4">
    <%= gettext "The changelog lists all noteworthy changes to the application. It is only available in english." %>
  </p>
  <article class="mt-4 prose prose-xl sm:prose-lg lg:prose xl:prose-sm">
    <%= raw @changelog %>
  </article>
</section>
