<div class="flex justify-between">
  <span>
    &copy; <%= @current_year %> DEalog Team
  </span>
  <span>
    <a
      href="<%= Routes.readme_path(@socket, :index) %>"
    >
      <%= gettext "Readme" %>
    </a>
    <a
      href="<%= Routes.changelog_path(@socket, :index) %>"
      class="ml-2"
    >
      <%= gettext "Changelog" %>
    </a>
    <span class="ml-2">
      Version <%= @version %>
    </span>
  </span>
</div>
