<section>
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
    <%= gettext "My organization" %>
  </h1>
  <p class="mt-4">
    <%= gettext "All messages of this organization are listed here." %>
  </p>
</section>
